body {
  background: url("harrypotter3.jpg");
  background-repeat: repeat;
  /* background-size: cover; */
  width: 800px 400px;
  opacity: ;
}

#main-wrap {
  color: brown;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  background-color: transparent;
  font-family: fantasy;
  font: bold;
  font-size: 28px;
}
